
.DS_Store
code/.ipynb_checkpoints/LAB_Webscraping-checkpoint.ipynb
code/.log
code/.ipynb_checkpoints/LAB_recommendation-function-checkpoint.ipynb
code/.ipynb_checkpoints/LAB_KMeans-checkpoint.ipynb
code/.ipynb_checkpoints/LAB_API_Wrapper-checkpoint.ipynb
code/.ipynb_checkpoints/LAB_API_Wrapper_cleaned-checkpoint.ipynb
code/.ipynb_checkpoints/LAB_API_Wrapper_NEW-checkpoint.ipynb
code/.ipynb_checkpoints/LAB_KMeans_latin-checkpoint.ipynb
code/.ipynb_checkpoints/LAB_Recommendation_function-checkpoint.ipynb
